* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #FF0A0A 0%, #162CF6 100%);
}

#overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.90);
    background-size: 100% 100%;
    mix-blend-mode: hard-light;
    padding-top: 9%;
    position: relative;
    z-index: 5;
}

#game-over-text {
    position: relative;
    font-size: 35%;
    text-align: center;
    margin-bottom: 125%;
    z-index: 10;
    margin-top: 1%;
    padding-bottom: 62.5%;
    animation: game-over-animation 5s infinite;
}

#buttons {
    display: flex;
    gap: 125%;
}

#yes-button, #no-button {
    background: #000;
    color: #FFF;
    padding: 1% 1%;
    border: none;
    border-radius: 156.25;
    font-size: 150%;
    cursor: pointer;
    transition: background-color 2.0s, transform 0.3s;
}

#yes-button:hover, #no-button:hover {
    background-color: #555;
    transform: scale(1.1);
}

#text {
    color: orangered;
    font-size: 100px;
    font-family: FUN GAMES;
    font-weight: 400;
}

#sorry {
    color: rgb(107, 0, 0);
    font-size: 850%;
    font-family: Fugaz One;
    font-weight: 400;
}

#yes {
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Nico Moji;
    font-size: 850%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20%;
    border: 5px solid green;
    margin-top: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    transition: background-color 2.0s, transform 0.3s;
}

#yes:hover {
    background-color: #555;
    transform: scale(1.1);
}

#no {
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Nico Moji;
    font-size: 850%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20%;
    border: 5px solid red;
    margin-top: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 16%;
    transition: background-color 2.0s, transform 0.3s;
}

#no:hover {
    background-color: #555;
    transform: scale(1.1);
}

@keyframes game-over-animation {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.1); /* Scale up at 50% of the animation */
    }
    100% {
        transform: scale(1); /* Back to normal scale at the end */
    }
}

/* Apply the animation to the "text" element */
#text {
    animation: game-over-animation 1s infinite; /* 1s duration, infinite loop */
}









